{% extends 'home.html.twig' %}

{% block content %}

    <br> <br>
    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
				Wishlist
			</span>
        </div>
    </div>


    <!-- Shoping Cart -->
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">

                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Price</th>
                                    <th class="column-5"></th>

                                </tr>

                                {% for produitfavorie in produitsfavorie %}

                                <tr class="table_row">
                                    <td class="column-1">
                                        <div class="how-itemcart1">
                                            <img src=" {{ asset('Image/produit/'~produitfavorie.image)}}" alt="IMG-PRODUCT">                                        </div>
                                    </td>
                                    <td class="column-2">{{ produitfavorie.nom }}</td>
                                    <td class="column-3">{{ produitfavorie.prix }}</td>
                                    <td><a style="color:black;" href="{{ path("Favorie_supprimer" , {'id': produitfavorie.id} ) }}"><i class="zmdi zmdi-delete zmdi-hc-2x trash"></i></a>
                                </tr>

                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}